---
name: Build

on:
  workflow_call:
  push:
    branches:
      - "master"
      - "develop"

jobs:
  build:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
          # - os: macosx
          #   arch: arm64
          #   runner: macos-latest
          # - os: windows
          #   arch: x64
          #   runner: windows-latest
          #?   ext: '.exe'

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          curl -L https://github.com/golangci/golangci-lint/releases/download/v2.7.2/golangci-lint-2.7.2-linux-${{ matrix.arch }}.tar.gz -o golangci-lint.tar.gz
          tar -xzf golangci-lint.tar.gz
      - name: Run linter
        run: ./golangci-lint run

      - name: Run tests with coverage
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} \
            go test -v -race -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        if: matrix.os == 'linux' && matrix.arch == 'amd64'
        uses: codecov/codecov-action@v4
