---
name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # Trigger on tags with semantic versioning

env:
  APP_NAME: 'fetch-k8s-cert'
  MAINTAINER: 'rossigee'
  DESC: 'fetch-k8s-cert retrieves a X509 TLS secret from a K8S cluster API endpoint.'

jobs:
  build:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
          # - os: macosx
          #   arch: arm64
          #   runner: macos-latest
          # - os: windows
          #   arch: x64
          #   runner: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s --v2.7.2
      - name: Run linter
        run: ./bin/golangci-lint run

      - name: Run tests with coverage
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} \
            go test -v -race -coverprofile=coverage.out -covermode=atomic

      - name: Run security scan
        if: matrix.os == 'linux' && matrix.arch == 'amd64'
        uses: securego/gosec@master
